API_PORT=3000

# CORS
CORS_ALLOWED_ORIGINS=*
CORS_ALLOWED_HEADERS_CORS=Content-Type,Authorization
CORS_ALLOWED_METHODS_CORS=POST,GET,PUT,DELETE,OPTIONS

# DATABASE
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_SECRET=defaultsecret